<div class="case">
    <router-header></router-header>
    <div class="wxc-contents wxc-tribal-contents forum-contents">
        <div class="wxc-cells wxc-cells-list">
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-forum-tx img-responsive">
                        <img src="./static/images/wxc-product-img.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <h3 class="wxc-forum-name">幸福的四口之家——简美</h3>
                    <p class="wxc-forum-text">逛了宜家，买了台盆柜和镜柜，又快递了好多东西到家里。下午浴霸也安装好啦！起到每个...</p>
                    <div class="wxc-forum-info">
                        <div class="wxc-forum-info-time">创建于 2016-04-23</div>
                        <div class="wxc-forum-info-icon">
                            <span class="wxc-forum-info-look"><i class="wxc-icon"><img src="./static/images/wxc-icon-look.png" alt=""></i>1255</span>
                            <span class="wxc-forum-info-shuuceng"><i class="wxc-icon"><img src="./static/images/wxc-icon-ysz.png" alt=""></i>1255</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-forum-tx img-responsive">
                        <img src="./static/images/wxc-product-img.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <h3 class="wxc-forum-name">幸福的四口之家——简美</h3>
                    <p class="wxc-forum-text">逛了宜家，买了台盆柜和镜柜，又快递了好多东西到家里。下午浴霸也安装好啦！起到每个...</p>
                    <div class="wxc-forum-info">
                        <div class="wxc-forum-info-time">创建于 2016-04-23</div>
                        <div class="wxc-forum-info-icon">
                            <span class="wxc-forum-info-look"><i class="wxc-icon"><img src="./static/images/wxc-icon-look.png" alt=""></i>1255</span>
                            <span class="wxc-forum-info-shuuceng"><i class="wxc-icon"><img src="./static/images/wxc-icon-ysz.png" alt=""></i>1255</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-forum-tx img-responsive">
                        <img src="./static/images/wxc-product-img.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <h3 class="wxc-forum-name">幸福的四口之家——简美</h3>
                    <p class="wxc-forum-text">逛了宜家，买了台盆柜和镜柜，又快递了好多东西到家里。下午浴霸也安装好啦！起到每个...</p>
                    <div class="wxc-forum-info">
                        <div class="wxc-forum-info-time">创建于 2016-04-23</div>
                        <div class="wxc-forum-info-icon">
                            <span class="wxc-forum-info-look"><i class="wxc-icon"><img src="./static/images/wxc-icon-look.png" alt=""></i>1255</span>
                            <span class="wxc-forum-info-shuuceng"><i class="wxc-icon"><img src="./static/images/wxc-icon-ysz.png" alt=""></i>1255</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-footer></router-footer>