<div class="message-contents  systemMessage-contents">
    <div class="wxc-cells wxc-cells-access wxc-cells-list">
        <div class="wxc-cell ">
            <div class="wxc-cell-bd wxc-cell-primary">
                <h3 class="wxc-cell-title">刘忻了 <span class="wxc-privateLetter-time">2015-03-01</span></h3>
                <p class="wxc-cell-init">亲，您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢？一般...</p>
            </div>
            <div class="wxc-cell-ft"></div>
        </div>
        <div class="wxc-cell">
            <div class="wxc-cell-bd wxc-cell-primary">
                <h3 class="wxc-cell-title">刘忻了 <span class="wxc-privateLetter-time">2015-03-01</span></h3>
                <p class="wxc-cell-init">亲，您想要什么风格的呢？一般...</p>
            </div>
            <div class="wxc-cell-ft"></div>
        </div>
        <div class="wxc-cell ">
            <div class="wxc-cell-bd wxc-cell-primary">
                <h3 class="wxc-cell-title">刘忻了 <span class="wxc-privateLetter-time">2015-03-01</span></h3>
                <p class="wxc-cell-init">亲，您想要什么风格的呢？一般...</p>
            </div>
            <div class="wxc-cell-ft"></div>
        </div>
        <div class="wxc-cell ">
            <div class="wxc-cell-bd wxc-cell-primary">
                <h3 class="wxc-cell-title">刘忻了 <span class="wxc-privateLetter-time">2015-03-01</span></h3>
                <p class="wxc-cell-init">亲，您想要什么风格的呢？一般...</p>
            </div>
            <div class="wxc-cell-ft"></div>
        </div>
        <div class="wxc-cell ">
            <div class="wxc-cell-bd wxc-cell-primary">
                <h3 class="wxc-cell-title">刘忻了 <span class="wxc-privateLetter-time">2015-03-01</span></h3>
                <p class="wxc-cell-init">亲，您想要什么风格的呢？一般...</p>
            </div>
            <div class="wxc-cell-ft"></div>
        </div>
        <div class="wxc-cell ">
            <div class="wxc-cell-bd wxc-cell-primary">
                <h3 class="wxc-cell-title">刘忻了 <span class="wxc-privateLetter-time">2015-03-01</span></h3>
                <p class="wxc-cell-init">亲，您想要什么风格的呢？一般...</p>
            </div>
            <div class="wxc-cell-ft"></div>
        </div>
    </div>
</div>