<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
</head>
<body>
<!--<img src="images/qqq3.jpg" style="position: absolute;z-index: 999; opacity: .3;left:0; top:0; width: 100%;" alt="">-->

<div class="password main-vh">
    <div class="gxs-cells leftMax-gxs-cells">
        <div class="gxs-cell">
            <div class="gxs-cell-hd">
                <img src="images/icon-telposs.png" alt="" style="width:20px;margin-right:15px;display:block"></div>
            <div class="gxs-cell-bd gxs-cell-primary">
                <input class="gxs-input" type="text" placeholder="输入手机号或邮箱">
            </div>
        </div>
        <div class="gxs-cell">
            <div class="gxs-cell-hd">
                <img src="images/icon-poposs.png" alt="" style="width:20px;margin-right:15px;display:block"></div>
            <div class="gxs-cell-bd gxs-cell-primary">
                <input class="gxs-input" type="text" placeholder="请输入密码">
            </div>
        </div>
    </div>
    <div class="gxs-btn-area">
        <a class="gxs-btn btn-success gxs-btn-block" href="javascript:" id="showTooltips">确定</a>
    </div>
    <div class="login-init">
        <a href="">忘记密码？</a>
        <p>还没有账号？<a href="">点击注册</a></p>
    </div>
    <div class="login-dsf">
        <div class="login-dsf-title">
            <p>使用第三方帐号登录</p>
            <div class="login-dsf-title-bg"></div>
        </div>
        <div class="login-dsf-bd">
            <a href=""><img src="images/weixin.png" alt=""></a>
            <a href=""><img src="images/qq.png" alt=""></a>
            <a href=""><img src="images/weibo.png" alt=""></a>
        </div>
    </div>
</div>
</body>
</html>