<div class="designer">
    <router-header></router-header>
    <div class="wxc-head-select">
        <div class="wxc-head wxc-select-warp">
            <div class="wxc-select hot">
                <span class="wxc-selectS wxc-select-px">全部地区</span>
            </div>
            <div class="wxc-select">
                <span class="wxc-selectS wxc-selectSelect">擅长风格</span>
            </div>
        </div>
        <div class="wxc-head-dq wxc-alert-dg">
            <div class="wxc-cells wxc-head-dq-list">
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        全部地区
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        北京
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        广州
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        青岛
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        烟台
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        潍坊
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wxc-designer-contents">
        <div class="wxc-cells wxc-cells-list">
            <div class="wxc-cell">
                <a href="" class="wxc-cell wxc-cell-primary">
                    <div class="wxc-cell-hd">
                        <div class="wxc-user-tx img-responsive">
                            <img src="./static/images/wxc-icon-user-toux.png" alt="">
                        </div>
                    </div>
                    <div class="wxc-cell-bd wxc-cell-primary">
                        <div class="wxc-designer-name">这个名字有点长 <i class="wxc-icon wxc-icon-man"></i></div>
                        <div class="wxc-designer-style">擅长风格：<span>欧式、简约、地中海</span></div>
                    </div>
                </a>
                <div class="wxc-cell-ft">
                    <button type="button" class="wxc-designer-btn wxc-font-hint"><i class="wxc-icon"></i>取消关注</button>
                </div>
                <div class="wxc-cell-bt">
                    <div class="wxc-cell-bd wxc-designer-info">
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">所在地</p>
                            <p class="wxc-designer-strong">北京</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">作品</p>
                            <p class="wxc-designer-strong">22</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">评价</p>
                            <p class="wxc-designer-strong">4.8</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">粉丝</p>
                            <p class="wxc-designer-strong">356</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-user-tx img-responsive">
                        <img src="./static/images/wxc-icon-user-toux.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <div class="wxc-designer-name">这个名字有点长 <i class="wxc-icon wxc-icon-woman"></i></div>
                    <div class="wxc-designer-style">擅长风格：<span>欧式、简约、地中海</span></div>
                </div>
                <div class="wxc-cell-ft">
                    <button type="button" class="wxc-designer-btn wxc-font-hint hot"><i class="wxc-icon"></i>取消关注</button>
                </div>
                <div class="wxc-cell-bt">
                    <div class="wxc-cell-bd wxc-designer-info">
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">所在地</p>
                            <p class="wxc-designer-strong">北京</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">作品</p>
                            <p class="wxc-designer-strong">22</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">评价</p>
                            <p class="wxc-designer-strong">4.8</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">粉丝</p>
                            <p class="wxc-designer-strong">356</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wxc-dialog wxc-dialog-bot">
    <div class="wxc-dialog-hd">
        <button class="wxc-btn default" type="button">取消</button>
        <button class="wxc-btn primary" type="button">选择</button>
    </div>
    <div class="wxc-dialog-bd">
        <div class="wxc-order-zpsjs padding">
            <div class="wxc-select-touch">
                <div class="wxc-select-touch-border"></div>
                <div class="wxc-select-touch-warp slide-box" style="transform: translate3d(0px, 0, 0);">
                    <div class="wxc-select-touch-b cur3">
                        <p><span>北京</span></p>
                    </div>
                    <div class="wxc-select-touch-b cur2">
                        <p><span>青岛</span></p>
                    </div>
                    <div class="wxc-select-touch-b cur1">
                        <p><span>烟台</span></p>
                    </div>
                    <div class="wxc-select-touch-b">
                        <p><span>威海</span></p>
                    </div>
                    <div class="wxc-select-touch-b">
                        <p><span>潍坊</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-footer></router-footer>
