<div class="case caseInfo">
    <div class="wxc-designer-user-box">
        <div class="wxc-user-box-title">
            <h2>欧式简约风格，小清新复古</h2>
            <p><span>珠江帝景</span>|<span>欧式 简约</span>|<span>100㎡</span>|<span>1两居室</span>|<span>¥25.43万</span></p>
        </div>
        <div class="wxc-user-box-con">
            <div class="wxc-user-box-smn wxc-user-box">
                <div class="wxc-user-headPortrait">
                    <img src="./static/images/wxc-icon-user-toux.png" alt="">
                </div>
                <div class="wxc-user-info">
                    <p class="wxc-user-type">设计师</p>
                    <p class="wxc-user-name">刘忻了</p>
                </div>
            </div>
            <div class="wxc-user-box-smn wxc-user-box">
                <div class="wxc-user-headPortrait">
                    <img src="./static/images/wxc-icon-user-toux.png" alt="">
                </div>
                <div class="wxc-user-info">
                    <p class="wxc-user-type">管家</p>
                    <p class="wxc-user-name">刘忻了</p>
                </div>
            </div>
            <div class="wxc-user-box-smn wxc-user-box">
                <div class="wxc-user-headPortrait">
                    <img src="./static/images/wxc-icon-user-toux.png" alt="">
                </div>
                <div class="wxc-user-info">
                    <p class="wxc-user-type">施工方</p>
                    <p class="wxc-user-name">刘忻了</p>
                </div>
            </div>
        </div>
    </div>
    <div class="caseInfo-contents wxc-product-contents minFont-contents">
        <div class="wxc-product">
            <div class="wxc-product-box wxc-product-box3d">
                <div class="wxc-product-main">
                    <img src="./static/images/wxc-product-img.png" alt="">
                    <div class="wxc-product-price">
                        <p>3D</p>
                    </div>
                </div>
            </div>
            <div class="wxc-product-box">
                <div class="wxc-product-main">
                    <img src="./static/images/wxc-product-img.png" alt="">
                </div>
                <div class="wxc-product-ft">
                    <div class="wxc-product-ft-primary">
                        <h3>1.卧室 <span>￥15500.00</span></h3>
                        <p>地面面积：45.09m² / 墙面面积：29.73m² / 项目：76</p>
                    </div>
                    <div class="wxc-product-ft-zan">
                        <i class="wxc-icon"></i>
                    </div>
                </div>
            </div>
            <div class="wxc-product-box">
                <div class="wxc-product-main">
                    <img src="./static/images/wxc-product-img.png" alt="">
                </div>
                <div class="wxc-product-ft">
                    <div class="wxc-product-ft-primary">
                        <h3>2.卧室 <span>￥15500.00</span></h3>
                        <p>地面面积：45.09m² / 墙面面积：29.73m² / 项目：76</p>
                    </div>
                    <div class="wxc-product-ft-zan">
                        <i class="wxc-icon"></i>
                    </div>
                </div>
            </div>
            <div class="wxc-cells wxc-cells-access">
                <div class="wxc-cell">
                    <div class="wxc-cell-bd wxc-cell-primary">
                        <p>6.水电工程</p>
                    </div>
                    <div class="wxc-cell-ft">￥15500.00</div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-bd wxc-cell-primary">
                        <p>6.水电工程</p>
                    </div>
                    <div class="wxc-cell-ft">￥15500.00</div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-bd wxc-cell-primary">
                        <p>6.水电工程</p>
                    </div>
                    <div class="wxc-cell-ft">￥15500.00</div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-bd wxc-cell-primary">
                        <p>6.水电工程</p>
                    </div>
                    <div class="wxc-cell-ft">￥15500.00</div>
                </div>
            </div>
            <div class="wxc-cells wxc-cells-access">
                <div class="wxc-cell">
                    <div class="wxc-cell-bd wxc-cell-primary">
                        <p>查看无醛列表</p>
                    </div>
                    <div class="wxc-cell-ft">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wxc-copyright-bg"></div>
    <div class="wxc-nav">
        <div class="wxc-caseInfo-footer">
            <div class="case-nav">
                <div class="case-nav-icon">
                    <i class="wxc-icon wxc-icon-x-ysz"></i>
                    收藏<span>11</span>
                </div>
                <div class="case-nav-icon">
                    <i class="wxc-icon wxc-icon-eve"></i>
                    评论<span>11</span>
                </div>
                <div class="case-nav-icon">
                    <i class="wxc-icon wxc-icon-wzan hot"></i>
                    赞<span>11</span>
                </div>
            </div>
            <div class="wxc-nav-btn">
                <button class="wxc-btn wxc-btn-success wxc-btn-block" type="button">请他设计</button>
            </div>
        </div>
    </div>
</div>