<div class="case contents-list">
    <router-header></router-header>
    <div class="wxc-head-select">
        <div class="wxc-head wxc-select-warp">
            <div class="wxc-select hot">
                <span class="wxc-selectS wxc-select-px">综合排序</span>
            </div>
            <div class="wxc-select">
                <span class="wxc-selectS wxc-selectSelect">筛选</span>
            </div>
        </div>
        <div class="wxc-head-dq wxc-alert-dg">
            <div class="wxc-cells wxc-head-dq-list">
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        综合排序
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        评论数
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        价格从高到低
                    </div>
                </div>
                <div class="wxc-cell">
                    <div class="wxc-cell-primary">
                        价格从低到高
                    </div>
                </div>
            </div>
        </div>
        <div class="wxc-cell-content wxc-contents wxc-alert-dg">
            <div class="wxc-content case-content case-content-noBorder">
                <div class="wxc-content-hd">
                    <label class="wxc-font-text">预算（元）</label>
                </div>
                <div class="wxc-content-bd wxc-content-primary">
                    <div class="wxc-content-input"><input type="text"></div>
                    <label>㎡ －</label>
                    <div class="wxc-content-input"><input type="text"></div>
                    <label>㎡</label>
                </div>
            </div>
            <div class="wxc-content case-content check-content case-content-m">
                <div class="wxc-content-bd">
                    <div class="wxc-check-warp">
                        <input type="radio" id="checkbox_a1" name="q1" class="wxc-check">
                        <label for="checkbox_a1" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">￥599 - ￥799/㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="radio" id="checkbox_a2" name="q1" class="wxc-check">
                        <label for="checkbox_a2" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">￥799 - ￥999/㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="radio" id="checkbox_a3" name="q1" class="wxc-check">
                        <label for="checkbox_a3" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">￥999 - ￥1299/㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="radio" id="checkbox_a4" name="q1" class="wxc-check">
                        <label for="checkbox_a4" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">￥1299 - ￥1599/㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="radio" id="checkbox_a5" name="q1" class="wxc-check">
                        <label for="checkbox_a5" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default wxc-btn-middle">￥1899以上</label>
                    </div>
                </div>
            </div>
            <div class="wxc-content wxc-content-ever check-content">
                <div class="wxc-content-hd">
                    <p class="wxc-font-text">风格</p>
                </div>
                <div class="wxc-content-bd">
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a7" class="wxc-check">
                        <label for="checkbox_a7" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">欧式</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a8" class="wxc-check">
                        <label for="checkbox_a8" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">中式</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a9" class="wxc-check">
                        <label for="checkbox_a9" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">美式</label>
                    </div>

                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a10" class="wxc-check">
                        <label for="checkbox_a10" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">简约</label>
                    </div>

                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a11" class="wxc-check">
                        <label for="checkbox_a11" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">日式</label>
                    </div>

                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a12" class="wxc-check">
                        <label for="checkbox_a12" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">地中海</label>
                    </div>

                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a13" class="wxc-check">
                        <label for="checkbox_a13" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">东南亚</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a14" class="wxc-check">
                        <label for="checkbox_a14" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">田园</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a15" class="wxc-check">
                        <label for="checkbox_a15" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">现代</label>
                    </div>
                </div>
            </div>
            <div class="wxc-content wxc-content-ever check-content">
                <div class="wxc-content-hd">
                    <p class="wxc-font-text">户型</p>
                </div>
                <div class="wxc-content-bd">
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a16" class="wxc-check">
                        <label for="checkbox_a16" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">小户型</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a17" class="wxc-check">
                        <label for="checkbox_a17" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">一居</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a18" class="wxc-check">
                        <label for="checkbox_a18" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">两居</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a19" class="wxc-check">
                        <label for="checkbox_a19" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">三居</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a20" class="wxc-check">
                        <label for="checkbox_a20" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">四居</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a21" class="wxc-check">
                        <label for="checkbox_a21" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">复式</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a22" class="wxc-check">
                        <label for="checkbox_a22" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">别墅</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a23" class="wxc-check">
                        <label for="checkbox_a23" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">公寓</label>
                    </div>
                </div>
            </div>
            <div class="wxc-content wxc-content-ever check-content">
                <div class="wxc-content-hd">
                    <p class="wxc-font-text">面积</p>
                </div>
                <div class="wxc-content-bd">
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a24" class="wxc-check">
                        <label for="checkbox_a24" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">60㎡以下</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a25" class="wxc-check">
                        <label for="checkbox_a25" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">60-80㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a26" class="wxc-check">
                        <label for="checkbox_a26" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">80-100㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a27" class="wxc-check">
                        <label for="checkbox_a27" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">100-120㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a28" class="wxc-check">
                        <label for="checkbox_a28" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">120-150㎡</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a29" class="wxc-check">
                        <label for="checkbox_a29" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">150㎡以上</label>
                    </div>
                </div>
            </div>
            <div class="wxc-content wxc-content-ever check-content">
                <div class="wxc-content-hd">
                    <p class="wxc-font-text">地区</p>
                </div>
                <div class="wxc-content-bd">
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a30" class="wxc-check">
                        <label for="checkbox_a30" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">海淀</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a31" class="wxc-check">
                        <label for="checkbox_a31" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">朝阳</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a32" class="wxc-check">
                        <label for="checkbox_a32" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">东城</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a33" class="wxc-check">
                        <label for="checkbox_a33" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">西城</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a34" class="wxc-check">
                        <label for="checkbox_a34" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">丰台</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a35" class="wxc-check">
                        <label for="checkbox_a35" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">石景山</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a36" class="wxc-check">
                        <label for="checkbox_a36" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">昌平</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a37" class="wxc-check">
                        <label for="checkbox_a37" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">通州</label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a38" class="wxc-check">
                        <label for="checkbox_a38" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default">大兴</label>
                    </div>
                </div>
            </div>
            <div class="wxc-content wxc-content-ever wxc-content-color">
                <div class="wxc-content-hd">
                    <p class="wxc-font-text">颜色</p>
                </div>
                <div class="wxc-content-bd">
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a39" class="wxc-check">
                        <label for="checkbox_a39" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color1"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a40" class="wxc-check">
                        <label for="checkbox_a40" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color2"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a41" class="wxc-check">
                        <label for="checkbox_a41" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color3"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a42" class="wxc-check">
                        <label for="checkbox_a42" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color4"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a43" class="wxc-check">
                        <label for="checkbox_a43" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color5"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a44" class="wxc-check">
                        <label for="checkbox_a44" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color6"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a45" class="wxc-check">
                        <label for="checkbox_a45" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color7"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a46" class="wxc-check">
                        <label for="checkbox_a46" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color8"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a47" class="wxc-check">
                        <label for="checkbox_a47" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color9"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a48" class="wxc-check">
                        <label for="checkbox_a48" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color10"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a49" class="wxc-check">
                        <label for="checkbox_a49" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color11"></label>
                    </div>
                    <div class="wxc-check-warp">
                        <input type="checkbox" id="checkbox_a50" class="wxc-check">
                        <label for="checkbox_a50" class="wxc-check-label wxc-btn wxc-btn-sm wxc-btn-default type-color12">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="wxc-btn wxc-btn-success wxc-btn-block" type="button">确定</button>
            </div>
        </div>
    </div>
    <div class="wxc-designer-contents wxc-product-contents scrollable" id="scrollable">
        <div class="wxc-product scrollable-box">
            <div class="wxc-product-box" ng-repeat="x in caseProduct">
                <a href="#/caseInfo">
                    <div class="wxc-product-main">
                        <img ng-src={{x.productImg}} alt="">
                        <div class="wxc-product-price">
                            <p>¥<span>{{x.productPrice}}</span>／m²</p>
                        </div>
                    </div>
                    <div class="wxc-product-ft">
                        <div class="wxc-product-ft-primary">
                            <h3>{{x.productTitle}}</h3>
                            <p>{{x.productDoor}}</p>
                        </div>
                        <div class="wxc-product-ft-zan">
                            <i class="wxc-icon {{x.isCollection? 'hot':''}}"></i>
                            <p>{{x.collectionNum}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="wxc-product-box">
                <a href="#/caseInfo">
                    <div class="wxc-product-main">
                        <img src="./static/images/wxc-product-img.png" alt="">
                        <div class="wxc-user-tx img-width-max"><img src="./static/images/wxc-icon-user-toux.png" alt=""></div>
                    </div>
                    <div class="wxc-product-ft">
                        <div class="wxc-product-ft-primary">
                            <h3>欧式简约望京花园田园话题</h3>
                            <p>一居室 45㎡</p>
                        </div>
                        <div class="wxc-product-ft-zan">
                            <i class="wxc-icon hot"></i>
                            <p>1232</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<router-footer></router-footer>
