<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定手机</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/sherd.js"></script>
</head>
<body>

<div class="password main-vh">
    <div class="gxs-cells">
        <div class="gxs-cell">
            <div class="gxs-cell-bd gxs-cell-primary gxs-cells-input">
                <input class="gxs-input" type="text" placeholder="请输入您的手机号">
            </div>
            <div class="gxs-cell-ft">
                <button type="button" class="gxs-yz-btn btn-default">发送验证码</button>
            </div>
        </div>
        <div class="gxs-cell">
            <div class="gxs-cell-bd gxs-cell-primary">
                <input class="gxs-input" type="text" placeholder="请输入短信验证码">
            </div>
        </div>
    </div>
    <div class="gxs-btn-area">
        <a class="gxs-btn btn-success gxs-btn-block" href="javascript:" id="showTooltips">确认绑定</a>
    </div>
</div>
</body>
</html>