<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地区</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/sherd.js"></script>
</head>
<body>

<div class="main-vh case caseInfo">
    <div class="myProfile-region">
        <div class="skongwx-product">
            <div class="gxs-cells-title">定位到的位置</div>
            <div class="gxs-cells">
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>北京市 西城区 <i class="skongwx-icon"><img src="images/icon-position.png" alt=""></i></p>
                    </div>
                </div>
            </div>
            <div class="gxs-cells-title">全部</div>
            <div class="gxs-cells gxs-cells-access">
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>北京市</p>
                    </div>
                    <div class="gxs-cell-ft font">
                        已选地区
                    </div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>安徽</p>
                    </div>
                    <div class="gxs-cell-ft font"></div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>澳门</p>
                    </div>
                    <div class="gxs-cell-ft font"></div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>重庆</p>
                    </div>
                    <div class="gxs-cell-ft font"></div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>福建</p>
                    </div>
                    <div class="gxs-cell-ft font"></div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>广东</p>
                    </div>
                    <div class="gxs-cell-ft font"></div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary myProfile-positioning">
                        <p>甘肃</p>
                    </div>
                    <div class="gxs-cell-ft font"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>