<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的资料</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/sherd.js"></script>
</head>
<body>

<div class="main-vh case caseInfo">
    <div class="myProfile product-contents">
        <div class="skongwx-product">
            <div class="gxs-cells gxs-cells-access">
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary">
                        <p>我的头像</p>
                    </div>
                    <div class="gxs-cell-ft font">
                        <i class="skongwx-icon skongwx-myProfile-tx"><img src="images/icon-user-min.png" alt=""></i>
                    </div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary">
                        <p>昵称</p>
                    </div>
                    <div class="gxs-cell-ft font">这个名字有点长</div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary">
                        <p>真实姓名</p>
                    </div>
                    <div class="gxs-cell-ft font">王小二</div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary">
                        <p>所在地区</p>
                    </div>
                    <div class="gxs-cell-ft font">河北 石家庄</div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary">
                        <p>QQ</p>
                    </div>
                    <div class="gxs-cell-ft font">44221544</div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary">
                        <p>手机</p>
                    </div>
                    <div class="gxs-cell-ft font">已绑定</div>
                </div>
            </div>
            <div class="gxs-cells gxs-cells-access">
                <div class="gxs-cell">
                    <div class="gxs-cell-bd gxs-cell-primary gxs-cells-input">
                        <input class="gxs-input" type="text" placeholder="请输入您的真实姓名">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>