<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKong</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
</head>
<body>

<div class="booking-success main-vh">
    <div class="skongwx-head">
        <div class="skongwx-head-bd gxs-cell-primary">
            <div class="skongwx-head-title">无醛需求</div>
        </div>
    </div>
    <div class="skongwx-booking-success">
        <div class="skongwx-booking-success-hd">
            <p class=""><i class="skongwx-icon"><img src="images/icon-susess.png" alt=""></i>预约成功！</p>
        </div>
        <div class="skongwx-booking-success-bd">
            <p class="font-hint text-center">请保持手机畅通哦，<br>装修管家会在24小时内联系您哦！</p>
        </div>
        <div class="gxs-btn-area">
            <a class="gxs-btn btn-success gxs-btn-block" href="javascript:" id="showTooltips">确定</a>
        </div>
    </div>
</div>
</body>
</html>