<div class="userContent">

    <div class="userContent wxc-main-vh">
        <div class="wxc-head">
            <div class="wxc-head-hd">
                <div class="wxc-icon wxc-logo"><img src="./static/images/wxc-logo2.png" alt=""></div>
            </div>
            <div class="wxc-head-bd wxc-cell-primary">
                <div class="wxc-position-eit">北京</div>
            </div>
            <div class="wxc-head-ft">
                <i class="wxc-icon"><img src="./static/images/wxc-icon-circum.png" alt=""></i>
            </div>
        </div>

        <div class="wxc-user-box">
            <div class="wxc-user-headPortrait">
                <input type="file">
                <img src="./static/images/wxc-icon-user-toux.png" alt="">
            </div>
            <div class="wxc-user-info">
                <p class="wxc-user-name">这个名字有点长</p>
                <p class="wxc-user-address">河北 石家庄</p>
            </div>
        </div>

        <div class="wxc-cells wxc-cells-access wxc-cells-list">
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <i class="wxc-icon"><img src="./static/images/wxc-icon-myOerder.png" alt=""></i>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <p>我的订单 <i class="wxc-hot">22</i></p>
                </div>
                <div class="wxc-cell-ft">
                </div>
            </div>
            <div class="wxc-cell ">
                <div class="wxc-cell-hd">
                    <i class="wxc-icon"><img src="./static/images/wxc-icon-description.png" alt=""></i>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <p>待办事项</p>
                </div>
                <div class="wxc-cell-ft">
                </div>
            </div>
            <div class="wxc-cell ">
                <div class="wxc-cell-hd">
                    <i class="wxc-icon"><img src="./static/images/wxc-icon-collect.png" alt=""></i>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <p>收藏关注</p>
                </div>
                <div class="wxc-cell-ft">
                </div>
            </div>
            <div class="wxc-cell ">
                <div class="wxc-cell-hd">
                    <i class="wxc-icon"><img src="./static/images/wxc-icon-directMessages.png" alt=""></i>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <p>私信</p>
                </div>
                <div class="wxc-cell-ft">
                </div>
            </div>
            <div class="wxc-cell ">
                <div class="wxc-cell-hd">
                    <i class="wxc-icon"><img src="./static/images/wxc-icon-message.png" alt=""></i>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <p>消息</p>
                </div>
                <div class="wxc-cell-ft">
                </div>
            </div>
            <div class="wxc-cell ">
                <div class="wxc-cell-hd">
                    <i class="wxc-icon"><img src="./static/images/wxc-icon-help.png" alt=""></i>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <p>帮助反馈</p>
                </div>
                <div class="wxc-cell-ft">
                </div>
            </div>
        </div>
    </div>
</div>

<router-footer></router-footer>
