<div class="wxc-privateMessage-content wxc-designer-contents">
    <div class="wxc-privateMessage-box">
        <div class="messageObject">
            <div class="messageObject-hd">
                <div class="wxc-user-tx img-responsive">
                    <img src="./static/images/wxc-icon-user-toux.png" alt="">
                </div>
            </div>
            <div class="messageObject-bd">
                <div class="messageObject-box">
                    <p>亲，您喜欢什么风格呢？一般都是按照平米报价</p>
                </div>
            </div>
        </div>
        <div class="messageObject messageMe">
            <div class="messageObject-bd">
                <div class="messageObject-box">
                    <p>亲，您喜欢什么风格呢？一般都是按照平米报价</p>
                </div>
            </div>
            <div class="messageObject-hd">
                <div class="wxc-user-tx img-responsive">
                    <img src="./static/images/wxc-icon-user-toux.png" alt="">
                </div>
            </div>
        </div>
        <div class="messageObject-time"><span>2016年05月18日 21:19</span></div>
        <div class="messageObject messageMe">
            <div class="messageObject-bd">
                <div class="messageObject-box">
                    <p>亲，您喜欢什么风格呢？一般都是按照平米报价</p>
                </div>
            </div>
            <div class="messageObject-hd">
                <div class="wxc-user-tx img-responsive">
                    <img src="./static/images/wxc-icon-user-toux.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="wxc-copyright-bg"></div>
    <div class="wxc-privateMessage-input wxc-nav">
        <div class="wxc-site-hd wxc-privateMessage-hd">
            <div class="wxc-cells-box wxc-cells-seach">
                <div class="wxc-input-warp wxc-cells-input">
                    <input class="wxc-input" type="text" placeholder="想对TA说点什么？">
                </div>
                <button type="button" class="wxc-btn wxc-btn-success wxc-seach-btn">回复</button>
            </div>
        </div>
    </div>
</div>
