<div class="case contents-list">
    <div class="wxc-head wxc-head-group">
        <div class="wxc-select hot ">
            <span class="wxc-select-px">案例</span>
        </div>
        <div class="wxc-select">
            <span class="wxc-selectSelect">帖子</span>
        </div>
        <div class="wxc-select">
            <span class="wxc-selectSelect">设计师</span>
        </div>
    </div>
    <div class="wxc-contents wxc-product-contents wxc-focus-contents">
        <div class="wxc-product">
            <div class="wxc-product-box">
                <div class="wxc-product-main">
                    <img src="./static/images/wxc-product-img.png" alt="">
                    <div class="wxc-product-price">
                        <p>¥<span>699</span>／m²</p>
                    </div>
                </div>
                <div class="wxc-product-ft">
                    <div class="wxc-product-ft-primary">
                        <h3>欧式简约望京花园田园话题</h3>
                        <p>一居室 45㎡</p>
                    </div>
                    <div class="wxc-product-ft-shouceng">
                        <i class="wxc-icon"></i>
                        <p>1232</p>
                    </div>
                </div>
            </div>
            <div class="wxc-product-box">
                <div class="wxc-product-main">
                    <img src="./static/images/wxc-product-img.png" alt="">
                    <div class="wxc-user-tx img-width-max"><img src="./static/images/wxc-icon-user-toux.png" alt=""></div>
                </div>
                <div class="wxc-product-ft">
                    <div class="wxc-product-ft-primary">
                        <h3>欧式简约望京花园田园话题</h3>
                        <p>一居室 45㎡</p>
                    </div>
                    <div class="wxc-product-ft-shouceng">
                        <i class="wxc-icon hot"></i>
                        <p>1232</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wxc-contents wxc-designer-contents forum-contents">
        <div class="wxc-cells">
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-forum-tx img-responsive">
                        <img src="./static/images/wxc-product-img.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <h3 class="wxc-forum-name">幸福的四口之家——简美</h3>
                    <p class="wxc-forum-text">逛了宜家，买了台盆柜和镜柜，又快递了好多东西到家里。下午浴霸也安装好啦！起到每个...</p>
                    <div class="wxc-forum-info">
                        <div class="wxc-forum-info-time">创建于 2016-04-23</div>
                        <div class="wxc-forum-info-icon">
                            <span class="wxc-forum-info-look"><i class="wxc-icon"><img src="./static/images/wxc-icon-look.png" alt=""></i>1255</span>
                            <span class="wxc-forum-info-shuuceng"><i class="wxc-icon"><img src="./static/images/wxc-icon-ysz.png" alt=""></i>1255</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wxc-cells">
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-forum-tx img-responsive">
                        <img src="./static/images/wxc-product-img.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <h3 class="wxc-forum-name">幸福的四口之家——简美</h3>
                    <p class="wxc-forum-text">逛了宜家，买了台盆柜和镜柜，又快递了好多东西到家里。下午浴霸也安装好啦！起到每个...</p>
                    <div class="wxc-forum-info">
                        <div class="wxc-forum-info-time">创建于 2016-04-23</div>
                        <div class="wxc-forum-info-icon">
                            <span class="wxc-forum-info-look"><i class="wxc-icon"><img src="./static/images/wxc-icon-look.png" alt=""></i>1255</span>
                            <span class="wxc-forum-info-shuuceng"><i class="wxc-icon"><img src="./static/images/wxc-icon-ysz.png" alt=""></i>1255</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wxc-cells">
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-forum-tx img-responsive">
                        <img src="./static/images/wxc-product-img.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <h3 class="wxc-forum-name">幸福的四口之家——简美</h3>
                    <p class="wxc-forum-text">逛了宜家，买了台盆柜和镜柜，又快递了好多东西到家里。下午浴霸也安装好啦！起到每个...</p>
                    <div class="wxc-forum-info">
                        <div class="wxc-forum-info-time">创建于 2016-04-23</div>
                        <div class="wxc-forum-info-icon">
                            <span class="wxc-forum-info-look"><i class="wxc-icon"><img src="./static/images/wxc-icon-look.png" alt=""></i>1255</span>
                            <span class="wxc-forum-info-shuuceng"><i class="wxc-icon"><img src="./static/images/wxc-icon-ysz.png" alt=""></i>1255</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wxc-designer-contents">
        <div class="wxc-cells wxc-cells-list">
            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-user-tx img-responsive">
                        <img src="./static/images/wxc-icon-user-toux.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <div class="wxc-designer-name">这个名字有点长 <i class="wxc-icon wxc-icon-man"></i></div>
                    <div class="wxc-designer-style">擅长风格：<span>欧式、简约、地中海</span></div>
                </div>
                <div class="wxc-cell-ft">
                    <button type="button" class="wxc-designer-btn wxc-font-hint"><i class="wxc-icon"></i>取消关注</button>
                </div>
                <div class="wxc-cell-bt">
                    <div class="wxc-cell-bd wxc-designer-info">
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">所在地</p>
                            <p class="wxc-designer-strong">北京</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">作品</p>
                            <p class="wxc-designer-strong">22</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">评价</p>
                            <p class="wxc-designer-strong">4.8</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">粉丝</p>
                            <p class="wxc-designer-strong">356</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wxc-cell">
                <div class="wxc-cell-hd">
                    <div class="wxc-user-tx img-responsive">
                        <img src="./static/images/wxc-icon-user-toux.png" alt="">
                    </div>
                </div>
                <div class="wxc-cell-bd wxc-cell-primary">
                    <div class="wxc-designer-name">这个名字有点长 <i class="wxc-icon wxc-icon-woman"></i></div>
                    <div class="wxc-designer-style">擅长风格：<span>欧式、简约、地中海</span></div>
                </div>
                <div class="wxc-cell-ft">
                    <button type="button" class="wxc-designer-btn wxc-font-hint hot"><i class="wxc-icon"></i>取消关注</button>
                </div>
                <div class="wxc-cell-bt">
                    <div class="wxc-cell-bd wxc-designer-info">
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">所在地</p>
                            <p class="wxc-designer-strong">北京</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">作品</p>
                            <p class="wxc-designer-strong">22</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">评价</p>
                            <p class="wxc-designer-strong">4.8</p>
                        </div>
                        <div class="wxc-designer-info-box">
                            <p class="wxc-font-hint">粉丝</p>
                            <p class="wxc-designer-strong">356</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
