<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/sherd.js"></script>
</head>
<body>

<div class="main-vh">
    <div class="myOrder-content">
        <div class="list-box">
            <div class="list-box-con">
                <p class="clear"><span class="skongwx-order-timer">2016-04-23 19:26</span><span class="skongwx-order-state text-hint">待支付定金</span></p>
                <p class="skongwx-order-site">北京市朝阳区珠江帝景2号楼2单元2020</p>
            </div>
            <div class="list-box-con list-box-con-left">
                订单金额：<span class="text-hint skongwx-order-settle-price">¥100000.00</span>
                <button type="button">支付首款</button>
            </div>
        </div>
        <div class="list-box">
            <div class="list-box-con">
                <p class="clear"><span class="skongwx-order-timer">2016-04-23 19:26</span><span class="skongwx-order-state text-hint">待支付定金</span></p>
                <p class="skongwx-order-site">北京市朝阳区珠江帝景2号楼2单元2020</p>
            </div>
            <div class="list-box-con">
                <p>订单金额：<span class="skongwx-order-price">¥100000.00</span></p>
                <p>尾款金额：<span class="skongwx-order-price">¥10000.00</span></p>
            </div>
            <div class="list-box-con list-box-con-left">
                订单金额：<span class="text-hint skongwx-order-settle-price">¥100000.00</span>
                <button type="button">支付首款</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>