<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/sherd.js"></script>
</head>
<body>

<div class="main-vh">
    <div class="myOrder-content">
        <div class="list-box">
            <div class="list-box-con">
                <p class="clear"><span class="skongwx-order-timer">2016-04-23 19:26</span><span class="skongwx-order-state text-hint">待支付定金</span></p>
                <p class="skongwx-order-site">北京市朝阳区珠江帝景2号楼2单元2020</p>
            </div>
            <div class="list-box-con skongwx-order-price-box">
                <p>订单总额：<span class="skongwx-order-price">¥100000.00</span></p>
                <p>订单金额：<span class="skongwx-order-price">¥10000.00</span></p>
                <p>订单首款：<span class="skongwx-order-price">¥10000.00</span></p>
                <p>订单尾款：<span class="skongwx-order-price">¥10000.00</span></p>
            </div>
            <div class="list-box-con">
                待支付首款：<span class="text-hint skongwx-order-settle-price">¥100000.00</span>
            </div>
            <div class="list-box-con list-box-con-left">
                交底时间：<span class="">¥100000.00</span>
            </div>
        </div>
        <div class="gxs-cells gxs-cells-access">
            <div class="gxs-cell">
                <div class="gxs-cell-hd">查看施工项目</div>
                <div class="gxs-cell-ft"></div>
            </div>
        </div>
        <div class="gxs-cells gxs-cells-access">
            <div class="gxs-cell">
                <div class="gxs-cell-hd">查看项目成员</div>
                <div class="gxs-cell-ft"></div>
            </div>
        </div>
        <div class="gxs-cells gxs-cells-access">
            <div class="gxs-cell">
                <div class="gxs-cell-hd">施工进度</div>
                <div class="gxs-cell-ft"></div>
            </div>
            <div class="gxs-cell">
                <div class="gxs-cell-hd">清单报价</div>
                <div class="gxs-cell-ft"></div>
            </div>
            <div class="gxs-cell">
                <div class="gxs-cell-hd">项目资料</div>
                <div class="gxs-cell-ft"></div>
            </div>
            <div class="gxs-cell">
                <div class="gxs-cell-hd">商品入场</div>
                <div class="gxs-cell-ft"></div>
            </div>
            <div class="gxs-cell">
                <div class="gxs-cell-hd">增减项目明细</div>
                <div class="gxs-cell-ft"></div>
            </div>
            <div class="gxs-cell">
                <div class="gxs-cell-hd">木作复尺确认</div>
                <div class="gxs-cell-ft"></div>
            </div>
        </div>
    </div>
    <div class="skongwx-copyright-bg"></div>
    <div class="skongwx-btn-default">
        <div class="skongwx-order-btn">
            <button type="button" class="gxs-btn btn-info-style">评价设计师</button>
            <button type="button" class="gxs-btn btn-info-style">取消订单</button>
            <button type="button" class="gxs-btn btn-hint-style">支付首款</button>
        </div>
    </div>
</div>

</body>
</html>