<div class="message-contents backlog-contents">
    <div class="wxc-cells wxc-cells-access wxc-cells-list">
        <div class="wxc-cell">
            <div class="wxc-cell-bd wxc-cell-primary">
                <div class="message-contents-hd">
                    <h3 class="backlog-title">刘忻了</h3>
                    <div class="backlog-title-init"><span class="wxc-privateLetter-time">2015-03-01</span><span class="wxc-cell-title-init">去支付</span></div>
                </div>
                <div class="message-contents-bd">
                    <p>亲，您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢？一般...</p>
                </div>
            </div>
        </div>
        <div class="wxc-cell">
            <div class="wxc-cell-bd wxc-cell-primary">
                <div class="message-contents-hd">
                    <h3 class="backlog-title">刘忻了</h3>
                    <div class="backlog-title-init"><span class="wxc-privateLetter-time">2015-03-01</span><span class="wxc-cell-title-init">去支付</span></div>
                </div>
                <div class="message-contents-bd">
                    <p>亲，您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢您想要什么风格的呢？一般...</p>
                </div>
            </div>
        </div>
    </div>
</div>