<div class="main-vh case contents-list">
    <div class="skongwx-head-select">
        <div class="skongwx-head skongwx-select-warp">
            <div class="skongwx-select hot">
                <span class="skongwx-selectS skongwx-select-px">综合排序</span>
            </div>
            <div class="skongwx-select">
                <span class="skongwx-selectS skongwx-selectSelect">筛选</span>
            </div>
        </div>
        <div class="skongwx-head-dq skongwx-alert-dg">
            <div class="gxs-cells skongwx-head-dq-list">
                <div class="gxs-cell">
                    <div class="gxs-cell-primary">
                        综合排序
                    </div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-primary">
                        评论数
                    </div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-primary">
                        价格从高到低
                    </div>
                </div>
                <div class="gxs-cell">
                    <div class="gxs-cell-primary">
                        价格从低到高
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-content skongwx-contents skongwx-alert-dg">
            <div class="skongwx-content case-content case-content-noBorder">
                <div class="skongwx-content-hd">
                    <label class="font-text">预算（元）</label>
                </div>
                <div class="skongwx-content-bd skongwx-content-primary">
                    <div class="skongwx-content-input"><input type="text"></div>
                    <label>㎡ －</label>
                    <div class="skongwx-content-input"><input type="text"></div>
                    <label>㎡</label>
                </div>
            </div>
            <div class="skongwx-content case-content check-content case-content-m">
                <div class="skongwx-content-bd">
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a1" class="gxs-check">
                        <label for="checkbox_a1" class="skongwx-check-label btn btn-sm btn-default">￥599 - ￥799/㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a2" class="gxs-check">
                        <label for="checkbox_a2" class="skongwx-check-label btn btn-sm btn-default">￥799 - ￥999/㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a3" class="gxs-check">
                        <label for="checkbox_a3" class="skongwx-check-label btn btn-sm btn-default">￥999 - ￥1299/㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a4" class="gxs-check">
                        <label for="checkbox_a4" class="skongwx-check-label btn btn-sm btn-default">￥1299 - ￥1599/㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a5" class="gxs-check">
                        <label for="checkbox_a5" class="skongwx-check-label btn btn-sm btn-default btn-middle">￥1899以上</label>
                    </div>
                </div>
            </div>
            <div class="skongwx-content skongwx-content-ever check-content">
                <div class="skongwx-content-hd">
                    <p class="font-text">风格</p>
                </div>
                <div class="skongwx-content-bd">
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a7" class="gxs-check">
                        <label for="checkbox_a7" class="skongwx-check-label btn btn-sm btn-default">欧式</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a8" class="gxs-check">
                        <label for="checkbox_a8" class="skongwx-check-label btn btn-sm btn-default">中式</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a9" class="gxs-check">
                        <label for="checkbox_a9" class="skongwx-check-label btn btn-sm btn-default">美式</label>
                    </div>

                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a10" class="gxs-check">
                        <label for="checkbox_a10" class="skongwx-check-label btn btn-sm btn-default">简约</label>
                    </div>

                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a11" class="gxs-check">
                        <label for="checkbox_a11" class="skongwx-check-label btn btn-sm btn-default">日式</label>
                    </div>

                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a12" class="gxs-check">
                        <label for="checkbox_a12" class="skongwx-check-label btn btn-sm btn-default">地中海</label>
                    </div>

                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a13" class="gxs-check">
                        <label for="checkbox_a13" class="skongwx-check-label btn btn-sm btn-default">东南亚</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a14" class="gxs-check">
                        <label for="checkbox_a14" class="skongwx-check-label btn btn-sm btn-default">田园</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a15" class="gxs-check">
                        <label for="checkbox_a15" class="skongwx-check-label btn btn-sm btn-default">现代</label>
                    </div>
                </div>
            </div>
            <div class="skongwx-content skongwx-content-ever check-content">
                <div class="skongwx-content-hd">
                    <p class="font-text">户型</p>
                </div>
                <div class="skongwx-content-bd">
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a16" class="gxs-check">
                        <label for="checkbox_a16" class="skongwx-check-label btn btn-sm btn-default">小户型</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a17" class="gxs-check">
                        <label for="checkbox_a17" class="skongwx-check-label btn btn-sm btn-default">一居</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a18" class="gxs-check">
                        <label for="checkbox_a18" class="skongwx-check-label btn btn-sm btn-default">两居</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a19" class="gxs-check">
                        <label for="checkbox_a19" class="skongwx-check-label btn btn-sm btn-default">三居</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a20" class="gxs-check">
                        <label for="checkbox_a20" class="skongwx-check-label btn btn-sm btn-default">四居</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a21" class="gxs-check">
                        <label for="checkbox_a21" class="skongwx-check-label btn btn-sm btn-default">复式</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a22" class="gxs-check">
                        <label for="checkbox_a22" class="skongwx-check-label btn btn-sm btn-default">别墅</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a23" class="gxs-check">
                        <label for="checkbox_a23" class="skongwx-check-label btn btn-sm btn-default">公寓</label>
                    </div>
                </div>
            </div>
            <div class="skongwx-content skongwx-content-ever check-content">
                <div class="skongwx-content-hd">
                    <p class="font-text">面积</p>
                </div>
                <div class="skongwx-content-bd">
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a24" class="gxs-check">
                        <label for="checkbox_a24" class="skongwx-check-label btn btn-sm btn-default">60㎡以下</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a25" class="gxs-check">
                        <label for="checkbox_a25" class="skongwx-check-label btn btn-sm btn-default">60-80㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a26" class="gxs-check">
                        <label for="checkbox_a26" class="skongwx-check-label btn btn-sm btn-default">80-100㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a27" class="gxs-check">
                        <label for="checkbox_a27" class="skongwx-check-label btn btn-sm btn-default">100-120㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a28" class="gxs-check">
                        <label for="checkbox_a28" class="skongwx-check-label btn btn-sm btn-default">120-150㎡</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a29" class="gxs-check">
                        <label for="checkbox_a29" class="skongwx-check-label btn btn-sm btn-default">150㎡以上</label>
                    </div>
                </div>
            </div>
            <div class="skongwx-content skongwx-content-ever check-content">
                <div class="skongwx-content-hd">
                    <p class="font-text">地区</p>
                </div>
                <div class="skongwx-content-bd">
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a30" class="gxs-check">
                        <label for="checkbox_a30" class="skongwx-check-label btn btn-sm btn-default">海淀</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a31" class="gxs-check">
                        <label for="checkbox_a31" class="skongwx-check-label btn btn-sm btn-default">朝阳</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a32" class="gxs-check">
                        <label for="checkbox_a32" class="skongwx-check-label btn btn-sm btn-default">东城</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a33" class="gxs-check">
                        <label for="checkbox_a33" class="skongwx-check-label btn btn-sm btn-default">西城</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a34" class="gxs-check">
                        <label for="checkbox_a34" class="skongwx-check-label btn btn-sm btn-default">丰台</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a35" class="gxs-check">
                        <label for="checkbox_a35" class="skongwx-check-label btn btn-sm btn-default">石景山</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a36" class="gxs-check">
                        <label for="checkbox_a36" class="skongwx-check-label btn btn-sm btn-default">昌平</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a37" class="gxs-check">
                        <label for="checkbox_a37" class="skongwx-check-label btn btn-sm btn-default">通州</label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a38" class="gxs-check">
                        <label for="checkbox_a38" class="skongwx-check-label btn btn-sm btn-default">大兴</label>
                    </div>
                </div>
            </div>
            <div class="skongwx-content skongwx-content-ever skongwx-content-color">
                <div class="skongwx-content-hd">
                    <p class="font-text">颜色</p>
                </div>
                <div class="skongwx-content-bd">
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a39" class="gxs-check">
                        <label for="checkbox_a39" class="skongwx-check-label btn btn-sm btn-default case-btn-black"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a40" class="gxs-check">
                        <label for="checkbox_a40" class="skongwx-check-label btn btn-sm btn-default case-btn-white"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a41" class="gxs-check">
                        <label for="checkbox_a41" class="skongwx-check-label btn btn-sm btn-default case-btn-gray"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a42" class="gxs-check">
                        <label for="checkbox_a42" class="skongwx-check-label btn btn-sm btn-default case-btn-lightyellow"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a43" class="gxs-check">
                        <label for="checkbox_a43" class="skongwx-check-label btn btn-sm btn-default case-btn-pink"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a44" class="gxs-check">
                        <label for="checkbox_a44" class="skongwx-check-label btn btn-sm btn-default case-btn-lightpink"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a45" class="gxs-check">
                        <label for="checkbox_a45" class="skongwx-check-label btn btn-sm btn-default case-btn-peachpuff"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a46" class="gxs-check">
                        <label for="checkbox_a46" class="skongwx-check-label btn btn-sm btn-default case-btn-lightgoldenrodyellow"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a47" class="gxs-check">
                        <label for="checkbox_a47" class="skongwx-check-label btn btn-sm btn-default case-btn-pomonagreen"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a48" class="gxs-check">
                        <label for="checkbox_a48" class="skongwx-check-label btn btn-sm btn-default case-btn-lightskyblue"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a49" class="gxs-check">
                        <label for="checkbox_a49" class="skongwx-check-label btn btn-sm btn-default case-btn-blueviolet"></label>
                    </div>
                    <div class="skongwx-check">
                        <input type="checkbox" id="checkbox_a50" class="gxs-check">
                        <label for="checkbox_a50" class="skongwx-check-label btn btn-sm btn-default case-btn-color">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="gxs-btn btn-success gxs-btn-block" type="button">确定</button>
            </div>
        </div>
    </div>
    <div class="designer-contents product-contents">
        <div class="skongwx-product">
            <div class="skongwx-product-box">
                <div class="skongwx-product-main">
                    <img src="./static/images/product-img.png" alt="">
                    <div class="skongwx-product-price">
                        <p>¥<span>699</span>／m²</p>
                    </div>
                </div>
                <div class="skongwx-product-ft">
                    <div class="skongwx-product-ft-primary">
                        <h3>欧式简约望京花园田园话题</h3>
                        <p>一居室 45㎡</p>
                    </div>
                    <div class="skongwx-product-ft-zan">
                        <i class="skongwx-icon"></i>
                        <p>1232</p>
                    </div>
                </div>
            </div>
            <div class="skongwx-product-box">
                <div class="skongwx-product-main">
                    <img src="./static/images/product-img.png" alt="">
                    <div class="skongwx-user-tx img-width-max"><img src="./static/images/icon-user-toux.png" alt=""></div>
                </div>
                <div class="skongwx-product-ft">
                    <div class="skongwx-product-ft-primary">
                        <h3>欧式简约望京花园田园话题</h3>
                        <p>一居室 45㎡</p>
                    </div>
                    <div class="skongwx-product-ft-zan">
                        <i class="skongwx-icon hot"></i>
                        <p>1232</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {

    })
</script>
